/* Register Component CSS Code Start */

@media (min-width: 1025px) {
    .h-custom {
      min-height: 100vh !important;
    }
  }
 
  .error-message {
    color: rgb(233, 38, 38);
    font-size: 14px;
}

.background{
  background-color: #81c408 !important;
  }

  /* Register Component CSS Code End */