<!--Register Component UI Code Start-->

<div class="container">
    <section class="d-flex align-items-center" style="background-color: rgb(230, 164, 83);">
        <div class="container py-3">
            <div class="row justify-content-center align-items-center h-100 mt-5">
                <div class="col-12 col-md-6">
                    <div class="card rounded-3">
                        <img src="assets/29854.jpg" class="card-img-top w-100 mt-5"
                            style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;" alt="Sample photo">
                        <div class="card-body d-flex flex-column align-items-center">
                            <h3 class="text-center mb-4">Registration Info</h3>
                            <div class="spinner-container d-flex justify-content-center align-items-center"
                                *ngIf="isLoading">
                                <div class="row">
                                    <div class="col">
                                        <div class="spinner-grow  spinner-border-md text-primary" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="spinner-grow spinner-border-md text-secondary" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="spinner-grow spinner-border-md text-success" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="spinner-grow text-dark" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form *ngIf="!isLoading && this.commonService.isUserOrAdmin === 'admin'"
                                [formGroup]="adminRegisterForm" class="w-75" (ngSubmit)="onSubmit()" novalidate
                                autocomplete="off">
                                <div class="form-group mt-3">
                                    <input type="text" formControlName="AdminName" id="AdminName"
                                        class="form-control form-control-lg" placeholder="Admin Name"
                                        [ngClass]="{ 'is-invalid': (!submitted && f['AdminName'].dirty) && f['AdminName'].errors, 'is-valid': !submitted && f['AdminName'].valid }"
                                        required>
                                    <div *ngIf="!submitted && f['AdminName'].dirty && f['AdminName'].errors"
                                        class="invalid-feedback">
                                        <div *ngIf="f['AdminName'].errors?.['required']"> Admin Name is required! </div>
                                        <div
                                            *ngIf="f['AdminName'].errors?.['minlength'] || f['AdminName'].errors?.['maxlength']">
                                            Admin Name must be between 5-20 characters long </div>
                                    </div>
                                </div>
                                <div class="form-group mt-3">
                                    <input type="email" class="form-control form-control-lg" formControlName="Email"
                                        placeholder="Email Address"
                                        [ngClass]="{ 'is-valid': (!submitted && f['Email'].dirty) && !f['Email'].errors, 'is-invalid': (!submitted && f['Email'].dirty) && f['Email'].errors }" />
                                    <div class="invalid-feedback">
                                        <span class="text-danger" *ngIf="f['Email'].errors?.['required']">Email address
                                            is
                                            required</span>
                                        <span class="text-danger" *ngIf="f['Email'].errors?.['email']">Email address is
                                            not valid</span>
                                    </div>
                                </div>
                                <div class="form-group mt-3 position-relative">
                                    <input type="{{ passwordVisible ? 'text' : 'password' }}" formControlName="Password"
                                        class="form-control form-control-lg" name="Password" placeholder="Password"
                                        [ngClass]="{ 'is-valid': (!submitted && f['Password'].dirty) && passwordValid, 'is-invalid': (!submitted && f['Password'].dirty) && !passwordValid }" />
                                    <div class="invalid-feedback">
                                        <span class="text-danger"
                                            *ngIf="(!submitted && f['Password'].dirty) && !requiredValid">Password
                                            is
                                            required</span>
                                        <div id="validation-rules" class="mt-3" *ngIf="requiredValid">
                                            <div
                                                [ngClass]="{ 'text-success': minLengthValid, 'text-danger': !minLengthValid }">
                                                <i
                                                    [attr.class]="minLengthValid ? 'bi-check-square-fill' : 'bi-x-square'"></i>
                                                Must be at least 8 characters long
                                            </div>
                                            <div
                                                [ngClass]="{ 'text-success': requiresDigitValid, 'text-danger': !requiresDigitValid }">
                                                <i
                                                    [attr.class]="requiresDigitValid ? 'bi-check-square-fill' : 'bi-x-square'"></i>
                                                Must contain at least 1 digit
                                            </div>
                                            <div
                                                [ngClass]="{ 'text-success': requiresUppercaseValid, 'text-danger': !requiresUppercaseValid }">
                                                <i
                                                    [attr.class]="requiresUppercaseValid ? 'bi-check-square-fill' : 'bi-x-square'"></i>
                                                Must contain at least 1 uppercase character
                                            </div>
                                            <div
                                                [ngClass]="{ 'text-success': requiresLowercaseValid, 'text-danger': !requiresLowercaseValid }">
                                                <i
                                                    [attr.class]="requiresLowercaseValid ? 'bi-check-square-fill' : 'bi-x-square'"></i>
                                                Must contain at least 1 lowercase character
                                            </div>
                                            <div
                                                [ngClass]="{ 'text-success': requiresSpecialCharsValid, 'text-danger': !requiresSpecialCharsValid }">
                                                <i
                                                    [attr.class]="requiresSpecialCharsValid ? 'bi-check-square-fill' : 'bi-x-square'"></i>
                                                Must contain at least 1 special character
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mt-3">
                                    <input type="{{ passwordVisible ? 'text' : 'password' }}"
                                        formControlName="ConfirmPassword" class="form-control form-control-lg"
                                        name="ConfirmPassword" placeholder="Confirm Password"
                                        [ngClass]="{ 'is-valid': (!submitted && f['ConfirmPassword'].dirty) && !f['ConfirmPassword'].errors, 'is-invalid': (!submitted && f['ConfirmPassword'].dirty) && f['ConfirmPassword'].errors }"
                                        required>

                                    <div class="invalid-feedback"
                                        *ngIf="(!submitted && f['ConfirmPassword'].dirty) && f['ConfirmPassword'].errors">
                                        <div *ngIf="f['ConfirmPassword'].errors?.['required']">Confirm your password
                                        </div>
                                        <div *ngIf="f['ConfirmPassword'].errors?.['minlength']">Password must be at
                                            least
                                            5 characters long</div>
                                    </div>
                                </div>
                                <div *ngIf="((f['Password'].dirty  && f['ConfirmPassword'].dirty ) && !matchPassword())"
                                    class="error-message mt-2"><Span>Passwords do not match</Span>
                                </div>
                                <button type="button" class="btn btn-warning toggle-password mt-3 mx-2"
                                    (click)="togglePassword()">
                                    <i [ngClass]="passwordVisible ? 'bi-eye' : 'bi-eye-slash'"></i>
                                </button>
                                <div class="form-group mt-5 mb-4 text-center">
                                    <button type="submit" class="btn btn-primary btn-lg px-3"
                                        [disabled]="isWorking || !adminRegisterForm.valid || !matchPassword()">
                                        <i [attr.class]="isWorking ? 'bi-hourglass-split' : 'bi-check2-square'"></i> {{
                                        isWorking ? 'Working on it...' : 'Submit' }}
                                    </button>
                                </div>
                            </form>
                            <form *ngIf="!isLoading && this.commonService.isUserOrAdmin === 'user'"
                                [formGroup]="userRegisterForm" class="w-75" (ngSubmit)="onSubmit()" novalidate
                                autocomplete="off">
                                <div class="form-group mt-3">
                                    <input type="text" formControlName="UserName" id="UserName"
                                        class="form-control form-control-lg" placeholder="User Name"
                                        [ngClass]="{ 'is-invalid': (!submitted && f['UserName'].dirty) && f['UserName'].errors, 'is-valid': !submitted && f['UserName'].valid }"
                                        required>
                                    <div *ngIf="!submitted && f['UserName'].dirty && f['UserName'].errors"
                                        class="invalid-feedback">
                                        <div *ngIf="f['UserName'].errors?.['required']"> User Name is required! </div>
                                        <div
                                            *ngIf="f['UserName'].errors?.['minlength'] || f['UserName'].errors?.['maxlength']">
                                            User Name must be between 5-20 characters long </div>
                                    </div>
                                </div>
                                <div class="form-group mt-3">
                                    <input type="email" class="form-control form-control-lg" formControlName="Email"
                                        placeholder="Email Address"
                                        [ngClass]="{ 'is-valid': (!submitted && f['Email'].dirty) && !f['Email'].errors, 'is-invalid': (!submitted && f['Email'].dirty) && f['Email'].errors }" />
                                    <div class="invalid-feedback">
                                        <span class="text-danger" *ngIf="f['Email'].errors?.['required']">Email address
                                            is
                                            required</span>
                                        <span class="text-danger" *ngIf="f['Email'].errors?.['email']">Email address is
                                            not valid</span>
                                    </div>
                                </div>
                                <div class="form-group mt-3 position-relative">
                                    <input type="{{ passwordVisible ? 'text' : 'password' }}" formControlName="Password"
                                        class="form-control form-control-lg" name="Password" placeholder="Password"
                                        [ngClass]="{ 'is-valid': (!submitted && f['Password'].dirty) && passwordValid, 'is-invalid': (!submitted && f['Password'].dirty) && !passwordValid }" />
                                    <div class="invalid-feedback">
                                        <span class="text-danger"
                                            *ngIf="(!submitted && f['Password'].dirty) && !requiredValid">Password
                                            is
                                            required</span>
                                        <div id="validation-rules" class="mt-3" *ngIf="requiredValid">
                                            <div
                                                [ngClass]="{ 'text-success': minLengthValid, 'text-danger': !minLengthValid }">
                                                <i
                                                    [attr.class]="minLengthValid ? 'bi-check-square-fill' : 'bi-x-square'"></i>
                                                Must be at least 8 characters long
                                            </div>
                                            <div
                                                [ngClass]="{ 'text-success': requiresDigitValid, 'text-danger': !requiresDigitValid }">
                                                <i
                                                    [attr.class]="requiresDigitValid ? 'bi-check-square-fill' : 'bi-x-square'"></i>
                                                Must contain at least 1 digit
                                            </div>
                                            <div
                                                [ngClass]="{ 'text-success': requiresUppercaseValid, 'text-danger': !requiresUppercaseValid }">
                                                <i
                                                    [attr.class]="requiresUppercaseValid ? 'bi-check-square-fill' : 'bi-x-square'"></i>
                                                Must contain at least 1 uppercase character
                                            </div>
                                            <div
                                                [ngClass]="{ 'text-success': requiresLowercaseValid, 'text-danger': !requiresLowercaseValid }">
                                                <i
                                                    [attr.class]="requiresLowercaseValid ? 'bi-check-square-fill' : 'bi-x-square'"></i>
                                                Must contain at least 1 lowercase character
                                            </div>
                                            <div
                                                [ngClass]="{ 'text-success': requiresSpecialCharsValid, 'text-danger': !requiresSpecialCharsValid }">
                                                <i
                                                    [attr.class]="requiresSpecialCharsValid ? 'bi-check-square-fill' : 'bi-x-square'"></i>
                                                Must contain at least 1 special character
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mt-3">
                                    <input type="{{ passwordVisible ? 'text' : 'password' }}"
                                        formControlName="ConfirmPassword" class="form-control form-control-lg"
                                        name="ConfirmPassword" placeholder="Confirm Password"
                                        [ngClass]="{ 'is-valid': (!submitted && f['ConfirmPassword'].dirty) && !f['ConfirmPassword'].errors, 'is-invalid': (!submitted && f['ConfirmPassword'].dirty) && f['ConfirmPassword'].errors }"
                                        required>

                                    <div class="invalid-feedback"
                                        *ngIf="(!submitted && f['ConfirmPassword'].dirty) && f['ConfirmPassword'].errors">
                                        <div *ngIf="f['ConfirmPassword'].errors?.['required']">Confirm your password
                                        </div>
                                        <div *ngIf="f['ConfirmPassword'].errors?.['minlength']">Password must be at
                                            least
                                            5 characters long</div>
                                    </div>
                                </div>
                                <div *ngIf="((f['Password'].dirty  && f['ConfirmPassword'].dirty ) && !matchPassword())"
                                    class="error-message mt-2"><Span>Passwords do not match</Span>
                                </div>
                                <button type="button" class="btn btn-warning toggle-password mt-3 mx-2"
                                    (click)="togglePassword()">
                                    <i [ngClass]="passwordVisible ? 'bi-eye' : 'bi-eye-slash'"></i>
                                </button>
                                <div class="form-group mt-5 mb-4 text-center">
                                    <button type="submit" class="btn btn-primary btn-lg px-3"
                                        [disabled]="isWorking || !userRegisterForm.valid || !matchPassword()">
                                        <i [attr.class]="isWorking ? 'bi-hourglass-split' : 'bi-check2-square'"></i> {{
                                        isWorking ? 'Working on it...' : 'Submit' }}
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div *ngIf="commonService.isUserOrAdmin === 'admin'" class="container mt-3">
        <div class="row justify-content-end">
            <div class="col-auto">
                <button routerLink="/admin-portal" class="btn background"> <i class="fas fa-arrow-left"></i> back to
                    dashboard</button>
            </div>
        </div>
    </div>
</div>

<!--Register Component UI Code End-->