<!--Add Category Component UI Code End-->

<div class="container addcat-header">
  <h1 class="text-center text-dark display-6"><span class="addcats-header">Add New Category</span></h1>
</div>

<div class="container">
  <section class="h-100">
    <div class="container h-100">
      <div class="row justify-content-center align-items-center h-100 mt-5">
        <div class="col-12 col-md-6">
          <div class="card rounded-3">
            <img src="assets/29854.jpg" class="card-img-top w-100"
              style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;" alt="Sample photo">
            <div class="card-body d-flex flex-column align-items-center">
              <h3 class="text-center mb-4">Category Details.....</h3>
              <div class="spinner-container d-flex justify-content-center align-items-center" *ngIf="isLoading">
                <div class="row">
                  <div class="col">
                    <div class="spinner-grow  spinner-border-md text-primary" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                  </div>
                  <div class="col">
                    <div class="spinner-grow spinner-border-md text-secondary" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                  </div>
                  <div class="col">
                    <div class="spinner-grow spinner-border-md text-success" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                  </div>
                  <div class="col">
                    <div class="spinner-grow text-dark" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                  </div>
                </div>
              </div>
              <form *ngIf="!isLoading" [formGroup]="categoryForm" class="w-75" (ngSubmit)="onSubmit()" enctype="multipart/form-data"
                novalidate autocomplete="off">
                <div class="form-group mt-3">
                  <input type="text" formControlName="CategoryName" id="CategoryName"
                    class="form-control form-control-lg" placeholder="Category Name"
                    [ngClass]="{ 'is-invalid': (!submitted && f['CategoryName'].dirty) && f['CategoryName'].errors, 'is-valid': !submitted && f['CategoryName'].valid }"
                    required>
                  <div *ngIf="!submitted && f['CategoryName'].dirty && f['CategoryName'].errors"
                    class="invalid-feedback">
                    <div *ngIf="f['CategoryName'].errors?.['required']"> Category name is required! </div>
                    <div *ngIf="f['CategoryName'].errors?.['maxlength']">
                      CategoryName must be at most 100 characters long. </div>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <textarea formControlName="CategoryDescription" id="CategoryDescription"
                    class="form-control form-control-lg" placeholder="Category Description"></textarea>
                </div>
                <div class="form-group mt-3 text-center">
                  <button type="submit" class="btn btn-primary btn-lg px-3"
                    [disabled]="isWorking || !categoryForm.valid">
                    <i [attr.class]="isWorking ? 'bi-hourglass-split' : 'bi-check2-square'"></i> {{
                    isWorking ? 'Working on it...' : 'Submit' }}
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-3">
      <div class="row justify-content-end">
        <div class="col-auto">
          <button *ngIf="!isLoading" routerLink="/admin-portal" class="btn background"> <i class="fas fa-arrow-left"></i> back to
            dashboard</button>
        </div>
      </div>
    </div>
  </section>
</div>

<!--Add Category Component UI Code End-->


