<!--Contact Component UI Code Start-->

<div class="container-fluid contact py-5">
    <div class="container py-5">
        <div class="p-3 pt-5 rounded">
            <div class="row g-4">
                <div class="col-12 contact-background pt-3">
                    <div class="text-center mx-auto" style="max-width: 700px;">
                        <h1 class="text-primary">Get in touch</h1>
                        <p class="mb-4 text-dark mt-5"><strong>
                                "Connect with Nature's Finest! Contact us today at Fruitables Marketing and let's
                                cultivate
                                a fruitful partnership together. From farm to table,
                                we're dedicated to bringing the freshest produce to your doorstep.
                                Reach out now and taste the difference!"
                            </strong>
                        </p>
                    </div>
                </div>
                <div class="col-lg-7 text-center">
                    <h4 class="text-primary mt-5 bg-background">"Reach Out to Us Anytime, We're Just a Click Away!"</h4>
                    <h4 class="text-primary mt-5 bg-background ">"Your Satisfaction Is Our Priority. Get in Touch!"</h4>
                    <h4 class="text-primary mt-5 bg-background">"We're Here for You 24/7. Contact Us!"</h4>
                </div>
                <div class="col-lg-5">
                    <div class="d-flex p-4 rounded mb-4 bg-white">
                        <i class="fas fa-map-marker-alt fa-2x text-primary me-4"></i>
                        <div>
                            <h4>Address</h4>
                            <p class="mb-2">123 Street Fruitables Marketing Pvt.Ltd Pune - 411033</p>
                        </div>
                    </div>
                    <div class="d-flex p-4 rounded mb-4 bg-white">
                        <i class="fas fa-envelope fa-2x text-primary me-4"></i>
                        <div>
                            <h4>Mail Us</h4>
                            <a href="mailto:webmaster@example.com" class="mb-2">fruitstoremarket@gmail.com</a>
                        </div>
                    </div>
                    <div class="d-flex p-4 rounded bg-white">
                        <i class="fa fa-phone-alt fa-2x text-primary me-4"></i>
                        <div>
                            <h4>Telephone</h4>
                            <p class="mb-2">(+91) 9527940268</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Contact Component UI Code End-->